.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.openbtn{
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  position: absolute;
  color: black;
  display: block;
}
.sidebar a {
  text-decoration: none;
  padding: 8px 8px 8px 32px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar p{
  color: #818181;
  position: absolute;
  bottom: 60;
  text-align: center;
}
.sidebar a:hover{
  color: #f1f1f1;
}
.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  margin-left: 50px;
}
.main{
  transition: 0.5s;
}
.nameOfStore {
  text-align: center;
}
.bold{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.Client{
  padding: 10px;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2a4eff3d;
}
.Products{
  padding: 10px;
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2a4eff3d;

}
.Cart{
  padding: 10px;
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2a4eff3d;

}
body{
  background-color: skyblue;
  font-family: cursive;
}
h2{
  font-size: 30px;
  margin-top: 1px;
}
.addItemsToList{
  font-size: 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}
img{
  width: 200px;
  height: 100px;
}
